mesosslave:
  image: mesoscloud/mesos-slave
  net: host
  environment:
    - MESOS_IP=0.0.0.0
    - MESOS_MASTER=zk://zookeeper:2181/mesos
  volumes:
    - /sys/fs/cgroup:/sys/fs/cgroup
    - /var/run/docker.sock:/var/run/docker.sock
    - /tmp/mesos:/tmp/mesos
  privileged: true
